<section class="page-header">
  <h1 class="project-name">{{ site.title }}</h1>
  <h2 class="project-tagline">{{ site.tagline }}</h2>
  <a href="{{site.baseurl}}/" class="btn">Welcome</a>  
  <a href="{{site.baseurl}}/competition" class="btn">Competition</a>
<!--
    <a href="{{site.baseurl}}/dataset" class="btn">Dataset</a>
    <a href="{{site.baseurl}}/baseline" class="btn">Baseline</a>
-->
  <a href="{{site.baseurl}}/organizers" class="btn">Organizers</a>
<!--
    <a href="{{site.baseurl}}/faq" class="btn">FAQs</a>
    <a href="{{site.baseurl}}/results" class="btn">Results</a>
    <a href="{{site.baseurl}}/paper" class="btn">Paper Instructions</a>
-->
    <a href="{{site.baseurl}}/multiconer_1/" class="btn">MultiCoNER I</a>  
<!--    <a href="https://aclanthology.org/2022.semeval-1.196.pdf" class="btn">MultiCoNER I</a>  -->
    
    
</section>